{% extends "layout.html" %}
{% block content %}
    <h1>Lista de Instituciones para Realizar Servicio Social</h1>
    <div class="jumbotron">
    <h1 class="display-4">CONALEP Naucalpan 1</h1>
    <p class="lead">CONALEP Naucalpan 1 es una institución de media superior de tipo gubernamental donde puedes realizar tu servicio social.</p>
    <hr class="my-4">
    <p>Puedes enviar tu solicitud en esta institucion si te interesa.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('conauno')}}" role="button">Ver más</a>
    </div>
{% endblock content %}
