<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/port.css">
    <meta charset="utf-8">
    <title>Portada</title>
  </head>
  <body>
    <h1 align="center"> Colegio de Educaion Profesional Tecnica del Estado de México </h1>
    <h3 align="center"> Conalep Naucalpan 1 </h3>
    <h3 align="center"> <strong>Diseño y Elaboeracion de Paginas Web</strong></h3>
    <h3 align="center"><p align="center"> Docente: Jose Luis Chavez Gomez </h3>
    <h3 align="center"><p align="center"> <i>Alumno: Rangel Locano Juan Manuel</i>  </h3>
    <a href="prueba.html"><h2 align="center"> Mi Primera Pagina Web</h2></a>
    <h3 align="center"> Carrera: Profesional Tecnico Bachiller en Informática </h3>
    <h3 align="center"> Semestre: Sexto Semestre </h3>
    <h3 align="center"> Grupo: "607" </h3>
    <h4 align="center"> <strong> Fecha: 25/02/2020 </strong></h4>
  </body>
</html>
