<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="css/main.css">
    <title>Mi primera web</title>
  </head>
  <body>
    <h1>Rangel Locano Juan Manuel</h1>
    <h2>Rangel Locano Juan Manuel</h2>
    <h3>Rangel Locano Juan Manuel</h3>
    <h4>Rangel Locano Juan Manuel</h4>
    <h5>Rangel Locano Juan Manuel</h5>
    <hr>
    <p align="justify">Mis capacidades: Yo tengo capacidades en
    el ambito informatico para, <i> <strong>programar</strong> que es
    lo que mas me encanta hacer, como, crear base
    de datos al igual que las redes.</i>
    </p>
    <p>Mis gustos</p>
    <ul>
      <li>Sara</li>
      <li>Futbol</li>
      <li>Programacion</li>
      <li>Redes</li>
      <li>Spider-Man</li>
    </ul>
  </body>
</html>
